@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
body {
  font-family: 'Shippori Antique B1', sans-serif;
  font-size: small;
} 

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4433ff;
  --ifm-color-primary-dark: #2814ff;
  --ifm-color-primary-darker: #1a05ff;
  --ifm-color-primary-darkest: #1200d6;
  --ifm-color-primary-light: #6052ff;
  --ifm-color-primary-lighter: #6e61ff;
  --ifm-color-primary-lightest: #988fff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #8087ea;
  --ifm-color-primary-dark: #616ae5;
  --ifm-color-primary-darker: #515be2;
  --ifm-color-primary-darkest: #2430d9;
  --ifm-color-primary-light: #9fa4ef;
  --ifm-color-primary-lighter: #afb3f2;
  --ifm-color-primary-lightest: #dddff9;
  --ifm-background-color: #3c4162;
}


.css-button-sharp--sky {
  min-width: 100px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 2px solid #4433ff;
  background: #4433ff;
  text-align: center;
  font-size: 14px;
}
.css-button-sharp--sky:hover {
  background: #fff;
  color: #4433ff
}
