@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
body {
  font-family: 'Shippori Antique B1', sans-serif;
} 

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1363df;
  --ifm-color-primary-dark: #1159c9;
  --ifm-color-primary-darker: #1054be;
  --ifm-color-primary-darkest: #0d459c;
  --ifm-color-primary-light: #1e6fec;
  --ifm-color-primary-lighter: #2976ed;
  --ifm-color-primary-lightest: #4b8cf0;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #8087ea;
  --ifm-color-primary-dark: #616ae5;
  --ifm-color-primary-darker: #515be2;
  --ifm-color-primary-darkest: #2430d9;
  --ifm-color-primary-light: #9fa4ef;
  --ifm-color-primary-lighter: #afb3f2;
  --ifm-color-primary-lightest: #dddff9;
  --ifm-background-color: #3c4162;
}


.css-button-3d--sky {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #3a86ff;
  box-shadow: 0 5px #4433ff;
}
.css-button-3d--sky:hover {
  box-shadow: 0 3px #4433ff;
  top: 1px;
}
.css-button-3d--sky:active {
  box-shadow: 0 0 #4433ff;
  top: 5px;
}